.App {
  display: flex;
  justify-content: center;
  font-size: 25px;
  flex-direction: column;
}
body{
  margin: 0;
  padding: 0;
  background-color: grey;
}
.container{
  background-color: #202142;
  color: #fff;
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container input {
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  border: none;
  border-bottom: 3px solid orange;
  border-top: 2px solid orange;
}
.container button {
  width: 180px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 10px;
  margin: 20px;
  background-color: #0046DC;
  border: none;
  color: #fff;
}
.container button:hover {
  background-color: #000;
}
.displaySection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  height: 200px;
  width: 200px;
}
.subSection {
  text-align: center;
  width: 300px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}